body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d2dc9d;
}
header{
    opacity: 50%;
}
article{
    font-weight: bold;
}
h1{
    text-align: center;
    font-weight: bold;
    color: #993399;
}
h2{
    text-align: center;
    color: #cc6600;
}
h3{
    text-align:center;
    color:violet;
}
li a:link{
    text-decoration: none;
    color:#993399;
}
li a:visited{
    color: #937393;
}
li a:hover{
    color: #c700f2;
    background-color: wheat;
}
li a:active{
    color: #ff00ff;
    background-color: wheat;
}

#text_italic{
    font-style:italic;
}